root = true

[*]
charset = utf-8
insert_final_newline = false
indent_style = space
indent_size = 4

[{*.avro,*.json,*.avsc}]
indent_style = space
indent_size = 2

[*.feature]
indent_style = space
indent_size = 2

[{*.kt,*.kts}]
indent_size = 4
insert_final_newline = true


[{*.scala,*.sc,*.java}]
indent_style = space
indent_size = 4
insert_final_newline = true

[{.scalafix.config,*.conf}]
indent_style = space
indent_size = 2

[/.vs/**]
charset = unset
end_of_line = unset
insert_final_newline = unset
indent_style = unset
indent_size = unset

[**/resources/*]
charset = unset
end_of_line = unset
insert_final_newline = unset
indent_style = unset
indent_size = unset
