*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
# hs_err_pid*

#Maven exclusions
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

#R language exclusions
# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth
#Scala
# sbt specific
.cache
.lib/
dist/*
lib_managed/
src_managed/
project/boot/
project/plugins/project/

#Eclipse
*.project
.settings
.classpath

# Scala-IDE specific
.scala_dependencies
.worksheet
/org/
infinitest.filters
.cache-main
.cache-tests
*.sc
*.scalastyle
*.bak
quick.bat
/pom.xml.back
.codeclimate.yml
.idea/
.idea_bak
ddo-calc-parent.iml
ddo-core/ddo-core.iml
ddo-core/src/main/scala/org/aos/ddo/experimental/
ddo-plot/ddo-plot.iml
ddo-web/bin/
ddo-web/ddo-web.iml
qa-tools/qa-tools.iml
/.ensime_cache/
### Gradle template
.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
