rewrites = [
  ProcedureSyntax
  DemandJSGlobal
  ExplicitImplicit
]
patches.removeGlobalImports = []
patches.addGlobalImports = []
patches.replacements = []
// parser = scala.meta.internal.parsers.ScalametaParser$$anon$202@4e11044e
debug.printSymbols = false
fatalWarnings = true
dialect = Scala211
imports.organize = true
imports.alwaysUsed = []
imports.expandRelative = false
imports.groups = [
  "scala.language.*"
  "(scala|scala\..*)$"
  "(java|java\..*)$"
]
imports.removeUnused = true
imports.groupByPrefix = false
imports.spaceAroundCurlyBrace = false