mkdocs==1.6.1==_
mkdocs-material==9.2.8==_
mkdocs-monorepo-plugin==1.0.5==_
mkdocs-markdownextradata-plugin==0.2.5==_
mkdocs-graphviz==1.5.3==_
mike==1.1.2==_
plantuml-markdown==3.9.2==_
mkdocs-embed-file-plugins==2.0.6==_
mkdocs-callouts==1.9.0==_
mkdocs-awesome-pages-plugin==2.9.2==_
mkdocs-include-markdown-plugin==6.0.1==_