-@ val host : String = "localhost:8888"
!!! 5
html
  head
    title Socko Web Socket Example
  body
    :javascript
        var socket;
        if (!window.WebSocket) {
          window.WebSocket = window.MozWebSocket;
        }
        if (window.WebSocket) {
          socket = new WebSocket(\"ws://#{host}/websocket/\"); // Note the address must match the route
          socket.onmessage = function(event) { var ta = document.getElementById('responseText'); ta.value = ta.value + '\\n' + event.data };
          socket.onopen = function(event) { var ta = document.getElementById('responseText'); ta.value = \"Web Socket opened!\"; };
          socket.onclose = function(event) { var ta = document.getElementById('responseText'); ta.value = ta.value + \"Web Socket closed\"; };
        } else { 
          alert(\"Your browser does not support Web Sockets.\");
        }
        
        function send(message) {
          if (!window.WebSocket) { return; }
          if (socket.readyState == WebSocket.OPEN) {
            socket.send(message);
          } else {
            alert(\"The socket is not open.\");
          }
        }
    h1 Socko Web Socket Example
    form (onsubmit='return false')
      input (type='text',name = 'message',value = 'Hello, World!')
      input (type='button',value='Send Web Socket Data',onclick='send(this.form.message.value)')
      h3 Output
      textarea (id='responseText',style='width',width='500px',height='3oopx')