{#include main.html }
{#title}Login{/title}


<div class="container">
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home"
                    type="button" role="tab" aria-controls="nav-home" aria-selected="true">Login
            </button>
            <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile"
                    type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Register
            </button>
            <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact"
                    type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Contact
            </button>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            {#form uri:Login.manualLogin()}
            <fieldset>
                <legend>Login</legend>
                {#formElement name="userName" label="User Name"}
                {#input name="userName" type="text" placeholder="User Name" id="userName" value=""/}
                {/formElement}
                {#formElement name="password" label="Password"}
                {#input name="password" type="password" placeholder="Password" id="password" value=""/}
                {/formElement}
                <button type="submit" class="btn btn-primary">Login</button>
            </fieldset>
            {/form}</div>
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
            {#form uri:Login.register()}
            <fieldset>
                <legend>Register</legend>
                {#formElement name="email" label="Email"}
                {#input name="email" type="email" placeholder="Email" id="email" value=""/}
                {/formElement}
                <button type="submit" class="btn btn-primary">Register</button>
            </fieldset>
            {/form}</div>
        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">...</div>
    </div>

</div>


{/include}