{#include main.html }
{#title}Race Families{/title}
<p>A Race Family is an unofficial grouping used to associate racial variants.
    As an example, the 'Elven' Race would include Elf, Wood Elf, and Sun Elf (Drow are considered separate at this time,
    although they share several elven abilities</p>

{#if families.size() == 0}
<div>No Race Families found. Use <a href="/_renarde/backoffice/RaceFamily/index">BackOffice</a> to create some!</div>
{#else}
<table class=".table">
    <thead>
    <tr>
        <td>Name</td>
        <td>Description</td>
    </tr>
    </thead>
    <tbody>
    {#each families}
    <tr>
    <td><a href="{uri:RaceFamilies.view(it.id)}">{it.name}</a></td>
        <td>{it.description}</td>

    </tr>

    {/each}
    </tbody>
</table>


count: {families.size}
{/if}

{/include}