{#include main.html }
{#title}Entities{/title}

<div class="container my-5">

    <table class="table"><thead>
    <tr>
        <th scope="col">Entities</th>
        <th scope="col">Description</th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
    </tr></thead>
        <tbody>
        <tr>
            <td><a href="{uri:Races.index}" class="btn btn-secondary">Race</a></td>
            <td>DDO Character Races</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        </tbody>
    </table>
</div>

{/include}