{#include main.html }
{#title}Entities{/title}
{#moreScripts}
<script type="text/javascript" charset="UTF-8">
    htmx.onLoad(function(content) {
    var sortables = content.querySelectorAll(".sortable");
    for (var i = 0; i < sortables.length; i++) {
      var sortable = sortables[i];
      var sortableInstance = new Sortable(sortable, {
          animation: 150,
          ghostClass: 'blue-background-class',

          // Make the `.htmx-indicator` unsortable
          filter: ".htmx-indicator",
          onMove: function (evt) {
            return evt.related.className.indexOf('htmx-indicator') === -1;
          },

          // Disable sorting on the `end` event
          onEnd: function (evt) {
            this.option("disabled", true);
          }
      });

      // Re-enable sorting on the `htmx:afterSwap` event
      sortable.addEventListener("htmx:afterSwap", function() {
        sortableInstance.option("disabled", false);
      });
    }
})
</script>
{/moreScripts}

<div class="container my-5">

    {#form uri:Entities.viewEntities() class="sortable" hx-post=uri:Entities.viewEntities() hx-trigger="end"}

    {#fragment id=content}

    {#if entries.size() > 0}
    <div class="htmx-indicator">Updating...</div>
    {#each entries}
    <div><input type='hidden' name='item' value='{it.template}'/><a href="{it.template}">{it.name}</a></div>
    {/each}
    {#else}

    <div class="htmx-indicator">Updating...</div>
    <div><input type='hidden' name='item' value='1'/>Item 1</div>
    <div><input type='hidden' name='item' value='2'/>Item 2</div>
    <div><input type='hidden' name='item' value='3'/>Item 3</div>
    <div><input type='hidden' name='item' value='4'/>Item 4</div>
    <div><input type='hidden' name='item' value='5'/>Item 5</div>

    {/if}
    {/fragment}

    {/form}


</div>

{/include}