<!DOCTYPE html>
<html lang="en">
<head>
    <title>{#insert title /}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" media="screen" href="/webjars/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" media="screen" href="/webjars/bootstrap-icons/font/bootstrap-icons.css">
    <script src="/webjars/bootstrap/js/bootstrap.bundle.min.js" type="text/javascript" charset="UTF-8"></script>

    <script src="/webjars/jquery/jquery.min.js" type="text/javascript" charset="UTF-8"></script>
    <!-- Latest Sortable -->
    <script src="http://SortableJS.github.io/Sortable/Sortable.js"></script>

    <link rel="stylesheet" media="screen" href="/stylesheets/main.css">
    {#insert moreStyles /}
    <script src="/webjars/htmx.org/2.0.3/dist/htmx.min.js" type="text/javascript" charset="UTF-8"></script>
<!--    <script src="https://unpkg.com/htmx.org@2.0.3/dist/htmx.js" integrity="sha384-BBDmZzVt6vjz5YbQqZPtFZW82o8QotoM7RUp5xOxV3nSJ8u2pSdtzFAbGKzTlKtg" crossorigin="anonymous"></script> -->
    {#insert moreScripts /}
</head>
<body hx-headers='{"{inject:csrf.headerName}":"{inject:csrf.token}"}'>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">DDO Codex</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Main
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{uri:Entities.index}">Entities</a></li>
                        <li><a class="dropdown-item" href="/q/dev-ui">Dev-UI</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        BackOffice
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/_renarde/backoffice/index">Back Office</a></li>
                        <li><a class="dropdown-item" href="/q/dev-ui">Dev-UI</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled">Emotion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{uri:Demo.index}">Demo</a>
                </li>
                <li class="nav-item">
                <a class="nav-link href="{uri:Login}>{auth:name}</a>
                </li>
            </ul>
            <i class="bi bi-github"></i>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>

{#insert}
<div class="container my-5">
    <h1>Hello, world!</h1>
    <div class="col-lg-8 px-0">
        <p class="fs-5">You've successfully loaded up the Bootstrap starter example. It includes <a
            href="https://getbootstrap.com/">Bootstrap 5</a> via the <a
            href="https://www.jsdelivr.com/package/npm/bootstrap">jsDelivr CDN</a> and includes an additional CSS and JS
            file for your own code.</p>
        <p>Feel free to download or copy-and-paste any parts of this example.</p>

        <hr class="col-1 my-4">

        <a href="https://getbootstrap.com" class="btn btn-primary">Read the Bootstrap docs</a>
        <a href="https://github.com/twbs/examples" class="btn btn-secondary">View on GitHub</a>
    </div>
</div>{/insert}
</body>
</html>