name: Run Gradle on PRs
permissions: read-all
on:
    push:
        branches: [master]
    pull_request:
        branches: [master]

jobs:
    gradle:
        strategy:
            matrix:
                os: [ubuntu-latest, macos-latest, windows-latest]
        runs-on: ${{ matrix.os }}
        steps:
            - uses: actions/checkout@v3
            - uses: actions/setup-java@v3
              with:
                distribution: temurin
                java-version: 21
            - name: Run test and Coverage
              uses: gradle/gradle-build-action@v2
              with:
                  gradle-version: wrapper
                  arguments:  reportAcceptanceTestScoverage reportScoverage reportTestScoverage aggregateScoverage testAggregateTestReport
